#hero{
    background-color:blue;
    color: white;
    width: 100%;
    height:50vh;
    
}
#hero>h3{
   margin-left: 37vw; 
   margin-top: 50px;
}
.pehli{
    margin-left: 40vw;
}
.dusri{
    margin-left: 38vw;
}
#long-search-bar{
    display: flex;
    background-color: white;
    width: 60%;
    margin-left: 18vw;
    height: 50px;
    border-radius: 7px;
}
.place{
    width: 20vw;
    border-radius: 7px;
    border: none;
    margin-left: 10px;
}
#remote-jobs{
    color: rgb(48, 47, 47);
    width: 15vw;
    margin-left: 10px;
}
#btn{
    width: 13vw;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    background-color:rgb(34, 34, 243);
    color: white;
    border-radius: 7px;
    border: none;
    font-weight: bolder;
}