/* #left img {
    width: 23px;
    height: 23px;
} */
*{
    margin:0;
    font-family:Arial;
    border:border-box;
}
.navbar{
    height: 80px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center; 
}
.nav-logo{
    height: 70px;
    width: 100px;
}
.logo{
    background-image: url("myn_logo.cms");
    background-size: cover;
    height: 70px;
    width: 100%;
}
.nav-icon{
    font-family: "Monaco";
    padding: 30px;
    font-size: 0.8rem;
    font-weight:bold;
}
.nav-icon:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: red;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    height: 50px; 
    background-color:rgb(219, 219, 213); 
}
.search-input{
    width:450px;
    height: 30px;
    padding-top: 10px;
    text-align:justify;
    font-size: 1rem;
    background-color:rgb(219, 219, 213);   
    border: none;
    color: black;
}
.search-icon{
    padding-top:15px;
    justify-content: center;
    align-items: centre;
}
.nav-profile{
    padding:20px ;
}
.nav-wishlist{
    padding-right:20px ;
}
.pro{
    font-size: 0.6rem;
}
.wis{
    font-size: 0.6rem;
}
.bag{
    font-size: 0.6rem;
}

/* .navbar div p:hover::after{
    content: "";
    background-color: black;
    height: 2px;
    width: 4px;
    left: 30px;
    bottom: -30px;
} */